body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text-main);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-size: var(--text-small);
  color: var(--color-text-subtle);
  margin: 50px 0;
}

#pages > section {
  display: none;
}

#pages > section.active {
  display: block;
}