body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text-main);
  margin: 0;
  padding: 0;
  width: 100%;
  p, label, .song__title {
    letter-spacing: 2px;
  }
}

footer {
  font-size: var(--text-small);
  color: var(--color-text-subtle);
  margin: 20px 0;
  text-align: center;
}

section {
  display: flex;
  width: 100%;
  margin: auto;
  align-content: center;
  flex-direction: column;
}
.songs-wrapper { 
  margin: auto;
  min-width: 300px;
  max-width: 500px;
}

#pages > section {
  display: none;
}

#pages > section.active {
  display: block;
}

button {
  background-color: var(--color-accent);
  color: var(--color-text-main);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--text-small);
}