.home-categories {
  .category-item.active{
    color: var(--color-accent);
  }
  .category-item:hover{
    cursor: pointer;
  }

  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 60px;
  margin-top: 16px;
}

.subscribe-section {
  background-image: url('../images/subscribe.jpg');
  background-position: center center;
  background-size: cover;
  margin-top: 150px;
  height: 1020px;

  .subscribe-overlay {
    background-color: rgba(78, 78, 78, 0.3);
    height: 1020px;
    display: flex;
  }

  .subscribe-content {
    width: 1200px;
    margin: auto;
    
  }

  .subscribe-title {
    text-align: center;
    transform: translateY(-180px);
    font-size: 72px;
    letter-spacing: 12px;
    margin-right: -12px;
    .bold {
      font-weight: 1000;
    }
    .thin {
      font-weight: 500;
    }
  }
  .subscribe-row1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
      
    img {
      width: 470px;
      height: 580px;
      }

    button {
      height: 130px;
      width: 310px;
      font-size: 32px;
      font-weight: 800;
      padding: 0;
      letter-spacing: 7px;
      transform: translateY(300px);
    } 
  }

  .subscribe-hover {
    display: grid;
    position: absolute;

    transform: translate(415px, -500px);

    .artist-name {
      .name {
        display: inline-block;
        width: 300px;
        font-size: 75px;
        font-weight: 1000;
        letter-spacing: 8px;
      }

      .last-white, .first {
        text-align: end;
      }

      .last-red {
        color: var(--color-accent);
      }
      .first {
        padding-right: 8px;
      }
    }


  }

  .subscribe-row2 {
    margin-top: 25px;
    .album-desc {
      text-align: end;
      width: 100%;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 10px;
      color: var(--color-text-subtle);
      margin: 0;
    }
    .line2 {
      color: var(--color-text-main);
    }
  }
}