.search-bar {
  margin-top: 16px;
  margin-bottom: 60px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.search-form {
  display: flex;
  gap: 1rem;
  //width: 600px;

  .in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }
}

.label {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
input, select {
  border: none;
  border-radius: 6px;
  padding: 0.3rem 1rem;
  width: 200px;
  height: 32px;
  font-family: var(--font-main);
}

.search-page-wrapper {
  margin-bottom: 50px;
}

.col-7, .col-md-4 {
  padding-left: 0;
  padding-right: 20px;
  margin-top: 1rem;
}

.songs-wrapper p {
  text-align: center;
}