@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@150,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Signika:wght@300..700&display=swap://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --color-bg: #121212;
  --color-text-main: #FFFFFF;
  --color-text-subtle: #AAAAAA;
  --color-accent: #D64949;
  --font-main: 'Montserrat', sans-serif;

  --text-logo: 120px;
  --text-nav: 22px;
  --text-header: 36px;
  --text-subheader: 26px;
  --text-small: 12px;
  --text-button: 10px;

  --subtext: 40px;


  --text-subscribe: 72px;
  --transform-subscribe: -510px;

  --text-artist: 72px;

  --spacing-logo: 90px;
  --margin-logo-left: 50px;
  --nav-bar-width: 40%;

  --subscribe-width: 80%;

  @media (max-width: 992px) {
  --text-logo: 90px;
  --spacing-logo: 40px;
  --margin-logo-left: 20px;
  --nav-bar-width: 70%;

  --text-subscribe: 58px;
  --transform-subscribe: -510px;

  --subtext: 30px;

  }

  @media (max-width: 768px){
  --text-logo: 60px;
  --spacing-logo: 20px;
  --nav-bar-width: 90%;

  --text-subscribe: 40px;
  --transform-subscribe: -510px;
  --subtext: 20px;

  }

  @media (max-width: 576px){
  --text-subscribe: 40px;
  --transform-subscribe: -510px;

  --text-nav: 18px;
    
  }
}

