:root {
  --color-bg: #121212;
  --color-text-main: #FFFFFF;
  --color-text-subtle: #AAAAAA;
  --color-accent: #D64949;
  --font-main: 'Montserrat', sans-serif;

  --text-logo: 100px;
  --text-nav: 16px;
  --text-header: 36px;
  --text-subheader: 16px;
  --text-small: 12px;
}